$default: #0A4F93;
$defaultDeep: #000000;

.themeBg {
  background: $default !important;
}

.themeDeep {
  background: $defaultDeep !important;
}

.widget {
  .themeBg {
    background: $default !important;
  }

  .themeDeep {
    background: $defaultDeep !important;
  }
}